<div class="container">
    <header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
      <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none">
        <img src="images/dog.png" alt="Dog icon in header" width="50">
        <span class="fs-4 mx-4">Dog Creator</span>
      </a>

      <ul class="nav nav-pills">
        <li class="nav-item"><a href="/" aria-current="page"><button class="custom-btn btn-5">Home</button></a></li>
        <li class="nav-item"><a href="/" aria-current="page"><button class="custom-btn btn-5">Search</button></a></li>
        <li class="nav-item"><a href="http://portfolio-berkan.s3-website.eu-north-1.amazonaws.com/" aria-current="page"><button class="custom-btn btn-5">About Me</button></a></li>
      </ul>
    </header>
  </div>    